@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Roboto", sans-serif;
}

body{
    display: flex;
        justify-content: center;
    align-items: center;
    height: 100vh;
     background: linear-gradient(135deg, #000000 0%, #0a0a0a 40%, #1a1a1a 70%, #2b2b2b 100%);
     background-attachment: fixed;
}

input{
    display: flex;
    flex-direction: column;
    margin: 5px 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #000000;
    transition: 1s;
}

input[type="text"]::placeholder{
    font-size: 16px;
    color: #000000;
}

input:hover{
    transform: scale(1.2);
}

input[type="submit"]{
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px;
    width: 170px;
}



label{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    color: #ffff;
}

.box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    width: 30%;
    height: 600px;
       background: linear-gradient(
        135deg,
        #1a1a1a 0%,
        #24123a 35%,
        #3c1f6b 65%,
        #6b46c1 100%
    );
    box-shadow: 0 10px 30px rgba(107, 70, 193, 0.4);
    border-radius: 4px;
    border: 1px solid #b4b294;
}

#resultado{
    color: #fff;
    font-size: 18px;
}