*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    border: 0;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.left{
    width: 50%;
}

h2{
    text-align: center;
    font-size: 30px;
}


.right{
    display: block;
    width: 50%;
    height: 100vh;
    background-color: blue;
    background-image: url(/assets/info.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

input{
    padding: 5px;
    margin-top: 10px;
    height: 35px;
    border: 1px solid #121212;
    
}

input[type="text"],input[type="password"]{
    width: 300px;
    height: 40px;
    border-radius: 3px;
}

input[type="text"]::placeholder, input[type="password"]::placeholder{
    padding-left: 10px;
    font-weight: bold;
    color: #121212d0;
}

input[type="submit"]{
    margin-top: 20px;
    width: 300px;
    height: 40px;
    display: flex;
    justify-self: center;
    align-items: center;
    background-color: rgb(4, 82, 170);
    color: #dddcdc;
    border: 0;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    border-radius: 4px;
}

.left p{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 3px;
}

.left a{
    color: black;
    text-decoration: none;
}

.text{
    color: white;
}

.right h2{
    display: block;
    margin-top: 650px;
    font-weight: bold;
}

.right p{
    text-align: center;
    width: 80%;
    font-size: 15px;
    line-height: 20px;
    padding-left: 120px;
}

.area {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.area span {
  display: flex;
  align-items: center;
  gap: 18px;
  text-align: center;
  line-height: 1.2;
}

.area input {
  margin: 0;
}






@media (max-width: 900px) {

  .container {
    flex-direction: column;
  }

  .left,
  .right {
    width: 100%;
  }

  /* ===== FORM ===== */
  .left {
    margin-top: 260px; /* controla a altura do form */
  }

  form {
    align-items: center; /* centraliza horizontalmente */
  }

  input[type="text"],
  input[type="password"],
  input[type="submit"] {
    width: 90%;
    max-width: 320px;
  }

  .left p {
    margin-top: 25px;
    margin-bottom: 180px;
  }

  /* ===== IMAGEM ===== */
  .right {
    height: auto;
    min-height: 45vh;
    padding: 40px 20px;
    background-size: 75%;
    background-position: center 80px; /* afasta do topo */
  }

  .right h2 {
    margin-top: 290px;
    text-align: center;
  }

  .right p {
    width: 100%;
    padding-left: 0;
    margin-top: 15px;
    text-align: center;
    font-size: 17px;
  }
}


